<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medikeen.patient"
    android:installLocation="auto"
    android:versionCode="3"
    android:versionName="0.0.0.0.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-feature android:name="android.hardware.camera" />
    <!--
    <permission
        android:name="com.medikeen.patient.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.medikeen.patient.permission.MAPS_RECEIVE" />
    -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.medikeen.util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBoH0EzesKcVfN0mOOhNeuhReVhKyEJjtI" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShowMap"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SearchResult"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewPrescription"
            android:label="@string/title_activity_prescription"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DoctorProfile"
            android:label="@string/title_activity_doctorprofile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UploadDescription"
            android:label="@string/title_activity_doctorprofile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LandingActivity"
            android:label="@string/title_medikeen_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoadingScreenActivity"
            android:label="@string/title_activity_doctorprofile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:exported="true"
            android:label="@string/title_activity_doctorprofile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_frogot_password"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AttachPrescription"
            android:label="@string/title_activity_attach_prescription"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddressPrescription"
            android:label="@string/title_activity_address_prescription"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PasswordResetCodeVerificationActivity"
            android:label="@string/title_activity_password_reset_code_verification"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".NewPasswordActivity"
            android:label="@string/title_activity_new_password"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HistoryDetailActivity"
            android:label="@string/title_activity_history_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OtpActivity"
            android:label="@string/title_activity_otp"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name="com.medikeen.util.IncomingSms" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>